<div class="container-form">
  <div class="form">
    <h3>Inscrição no Evento</h3>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label
        style="
          color: gray;
          padding-left: 0.5rem;
          display: flex;
          flex-direction: row;
          align-items: center;
        "
        ><mat-icon class="icon">person</mat-icon> Nome</mat-label
      >
      <input
        matInput
        placeholder="Digite seu nome"
        [(ngModel)]="person.name"
        name="name"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label
        style="
          color: gray;
          padding-left: 0.5rem;
          display: flex;
          align-items: center;
        "
        ><mat-icon class="icon">email</mat-icon>E-mail</mat-label
      >
      <input
        matInput
        type="email"
        placeholder="Digite seu e-mail"
        [(ngModel)]="person.email"
        name="email"
        required
      />
    </mat-form-field>

    <div class="form-actions">
      <button
        mat-raised-button
        class="btn"
        color="primary"
        (click)="submitForm()"
      >
        INSCREVER-SE
      </button>
    </div>
  </div>
</div>
