.container-form {
  display: flex;
  justify-content: center;
}

.form {
  background: #faf9f6;
  padding: 1.5rem;
  border-radius: 8px;
  padding-top: 0.5rem;
}

.btn {
  display: block;
  margin: 0.4rem auto;
  padding: 1rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 4rem;
  cursor: pointer;
  background-color: #153757;
  color: white;
  width: 100%;
}

.btn:hover {
  background-color: #1e4e8c;
}

.full-width {
  color: gray;
  width: 100%;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
}

.icon {
  padding-left: 0.2rem;
  padding-right: 0.45rem;
  font-size: 36px; /* controla o tamanho */
  width: 36px; /* garante alinhamento */
  height: 36px;
}
