<section class="event-details">
  <h2 class="section-header">
    <mat-icon class="icon">event</mat-icon> Detalhes do Evento
  </h2>
  <div class="subscribe-wrapper">
    <h3 class="section-header" style="color: wheat">
      <mat-icon class="icon">person_add</mat-icon>Fazer inscrição
    </h3>
    <app-registration-form> </app-registration-form>
  </div>
  <div class="subscribers-list-wrapper">
    <h3 class="section-header" style="color: wheat">
      <mat-icon class="icon">group</mat-icon>Lista de Inscritos
    </h3>
    <app-event-details> </app-event-details>
  </div>
</section>
