.event-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 60px;
}

.section-header {
  padding: 1rem 3rem;
  padding-left: 0.5rem;
  background-color: #153757;
  color: white !important;
  margin: 0;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.icon {
  padding-left: 0.2rem;
  padding-right: 0.45rem;
}

.subscribers-list-wrapper,
.subscribe-wrapper {
  align-self: center;
  overflow: hidden;
  background-color: #faf9f6;
  margin: 1rem 3rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.52);
  width: 90%;
  max-width: 1000px;
  min-width: 200px;
  box-sizing: border-box;
}

/* Responsividade */
@media (max-width: 768px) {
  .section-header {
    padding: 0.8rem 1.5rem;
    font-size: 1.1rem;
    justify-content: center;
  }

  .subscribers-list-wrapper,
  .subscribe-wrapper {
    margin: 0.5rem 1rem;
  }
}

@media (max-width: 480px) {
  .section-header {
    padding: 0.6rem 1rem;
    font-size: 1rem;
    text-align: center;
    justify-content: center;
  }

  .subscribers-list-wrapper,
  .subscribe-wrapper {
    margin: 0.5rem 0.5rem;
  }
}
